# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage

# Env / secrets
.env
*.env.local

# Build / dist
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Docker
celerybeat-schedule

# Temp
payload.json
